<h1>Admin Product</h1>
<div class="form">
    <form action="/api/products" method="post">
        <label for="title">Title</label>
            <input name="title" type="text">
        <label for="description">Description</label>
            <input name="description" type="text">
        <label for="code">Code</label>
            <input name="code" type="text">
        <label for="price">Price</label>
            <input name="price" type="number">
        <label for="stock">Stock</label>
            <input name="stock" type="number">
        <label for="category">Category</label>
            <input name="category" type="text">
        <button type="submit">Create Product</button>
    </form> 
    <a href="/profile">Profile</a>
    <a href="/users">Users</a>
</div>



