<div class="form">
    <form action="/login" method="post">
        <label for="email">E-mail</label>
        <input name="email" type="email">
        <label for="password">Password</label>
        <input name="password" type="password">
        <button type="submit">Login</button>
    </form>
    <a href="/resetpass">Forgot password?</a>
    <br>
    <a href="/githublogin">Login with GitHub</a>
</div>
