<h2>Profile</h2>
<p>Username: {{user.username}}</p>
<p>Mail: {{user.mail}}</p>

<div class="form">
    <form action="/logout" method="post">
        <button type="submit">Logout</button>
    </form>
</div>
