<h2>Profile</h2>
<p>Username: {{user.username}}</p>
<p>E-mail: {{user.email}}</p>
<a href="/products">Home</a>
<div class="form">
    <form action="/logout" method="post">
        <button type="submit">Logout</button>
    </form>
</div>
