<div class="addP">
    <h2>Add Product</h2>
    <form>
        <input type="text" id="pTitle" placeholder="Product´s Title">
        <input type="text" id="pDescription" placeholder="Product´s Description">
        <input type="text" id="pCode" placeholder="Product´s Code">
        <input type="text" id="pPrice" placeholder="Product´s Price">
        <input type="text" id="pStock" placeholder="Product´s Stock">
        <input type="text" id="pCategory" placeholder="Product´s Category">
        <input type="text" id="pThumbnails" placeholder="Product´s Thumbnails">
        <button type="submit">Add Product</button>
    </form>
</div>
<h2>Product List</h2>
<ul id="productsUL"></ul>
