<div class="form">
    <form action="/register" method="post">
        <label for="username">Username</label>
        <input name="username" type="text">
        <label for="mail">Mail</label>
        <input name="mail" type="email">
        <label for="password">Password</label>
        <input name="password" type="password">
        <button type="submit">Register</button>
    </form>
</div>

